<%- include('partials/header.ejs') %>

<body>
    <div class="bg-primary">
        <h1 style="color:white;" class="text-center">Registro de Alunos</h1>
    </div>
    <br>
    <div class="container">
        <a href="/cadastro" class="btn btn-primary">Cadastrar</a>
        <br>
        <br>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                  <th >Id</th>
                  <th>Nome</th>
                  <th >Sexo</th>
                  <th >Cidade</th>
                </tr>
              </thead>
              <tbody>
                <% resultado.forEach(dado=>{ %>
                    <tr>
                        <td><%= dado.id %></td>
                        <td><%= dado.nome %></td>
                        <td><%= dado.sexo %></td>
                        <td><%= dado.cidade %></td>
                        <td class="text-center">
                            <a href="/detalhes/<%= dado.id %>" class="btn btn-success">detalhes</a></td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
        </div>   
    </div>
</body>
<%- include('partials/footer.ejs') %>